@import-normalize; /* bring in normalize.css styles */

html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  color: #212121;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* p, h1, h2, h3{
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
} */

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* button {
  Делает из строчного элемента строчно-блочный чтоб задать вертикальные паддинги
  display: inline-block;  
  font-family: Roboto;
  border-radius: 4px;
  Убирает рамку
  border: transparent; 
  cursor: pointer;
} */

/* li {
  text-decoration: none;
} */
